.h-cont {
    display: flex;
    height: 25vh;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: rgb(75, 75, 75);
    box-shadow: 0px 0px 8px 2px black;
}
    .h-nav {
        display: flex;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 10vw;
        padding: 12px;
    }
        .nav-item {
            width: 75%;
            margin: auto 12px auto auto;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding: 8px 12px;
            border-radius: 12px;
            background-color: rgb(50, 50, 50);
        }
        .nav-item:hover {
            cursor: pointer;
            background-color: rgb(60, 60, 60);
        }
    .h-title {
        font-family: "Audiowide", sans-serif;
        font-size: 98px;
        letter-spacing: 24px;
        padding: 12px;
        transition: font-size 100ms linear;
    }
    .h-logo {
        max-height: 25vh;
        margin: auto;
        animation: logoSpin 5s linear infinite;
    }
    .h-logo:hover {
        cursor: pointer;
    }

@media only screen and (max-width: 1700px){
    .h-title {
        font-size: 64px;
    }
    .h-nav {
        display: none;
    }
}

@media only screen and (max-height: 445px){
    .h-title {
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 500px){
    .h-cont{
        flex-direction: column;
        text-align: center;
    }
    .h-title {
        font-size: 18px;
    }
    .h-logo {
        max-height: 15vh;
    }
}
