.primary-cont {
    border: thin solid black;
}

    .h-cont {
        display: flex;
        height: 25vh;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: rgb(75, 75, 75);
        box-shadow: 0px 0px 8px 2px black;
    }
        .h-nav {
            display: flex;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 10vw;
            padding: 12px;
        }
            .nav-item {
                width: 75%;
                margin: auto 12px auto auto;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                padding: 8px 12px;
                border-radius: 12px;
                background-color: rgb(50, 50, 50);
            }
            .nav-item:hover {
                cursor: pointer;
                background-color: rgb(60, 60, 60);
            }
        .h-title {
            font-family: "Audiowide", sans-serif;
            font-size: 98px;
            letter-spacing: 24px;
            padding: 12px;
            transition: font-size 100ms linear;
        }
        .h-logo {
            max-height: 25vh;
            margin: auto;
            animation: logoSpin 5s linear infinite;
        }
        .h-logo:hover {
            cursor: pointer;
        }

        .scale-cont {
            display: flex;
            flex-direction: column;;
            height: 15vh;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
            .scale-num {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 20% 20% 20% 20% 20%;
                width: 75%;
                height: 25%;
            }
            .scale-box {
                width: 75%;
                height: 25%;
                border: thin solid black;
            }
                .scale-fill {
                    height: 100%;
                }
                    .scale-karma {
                        text-align: center;
                        font-size: 28px;
                        letter-spacing: 8px;
                        font-weight: bold;
                        
                    }
            .scale-bar {
                position: absolute;
                z-index: 0;
                top: 30.75%;
                width: 0.1%;
                height: 7.5%;
                background-color: rgba(0,0,0,0.5);
            }
                .bar-0 {
                    left: 12.5%;
                }
                .bar-25 {
                    left: 31.25%;
                }
                .bar-50 {
                    left: 50%;
                }
                .bar-75 {
                    left: 68.75%;
                }
                .bar-100 {
                    left: 87.5%;
                }

    .body-cont {
        display: flex;
        min-height: 55vh;
    }

        .feed-cont {
            flex: 0.80;
            background: linear-gradient(rgb(0,0,0), rgb(50, 50, 50));
        }
            .item-head {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 5% 45% 25% 25%;
                border-bottom: thin solid white;
                color: white;
            }
            .item-cont {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 5% 45% 25% 25%;
                padding: 8px;
                color: white;
            }
                .item-num {
                    color: black;
                    background-color: white;
                    width: 25%;
                    box-shadow: 0.5px 0px 2px 1px red;
                    border-radius: 50%;
                    padding: 2px 0px;
                    text-align: center;
                    align-self: center;
                }
                .item-name, .item-location {
                    text-align: center;
                }
                .act-check {
                    justify-self: center;
                    width: 25px;
                    height: 25px;
                }

        .sidebar-cont {
            border-right: thin solid rgb(25, 25, 25);
            flex: 0.20;
            background: linear-gradient(rgb(0, 0, 0), rgb(50, 50, 50))
        }
            .sidebar-head {
                display: flex;
                height: 15%;
                width: 100%;
                letter-spacing: 6px;
                color: white;
                justify-content: center;
                align-items: center;
                border-bottom: thin solid rgb(25, 25, 25);
            }
            .sidebar-content {
                display: grid;
                font-size: 28px;
                height: 85%;
                width: 100%;
                margin-top: 5%;
                text-align: center;
                padding-bottom: 5%;
            }
            .sidebar-link {
                color: grey;
            }
            .home-link {
                font-size: 14px;
                text-align: left;
                margin-left: 12px;
            }
                .sidebar-link:hover {
                    cursor: pointer;
                    color: white;
                    transition: color 200ms ease-out;
                    text-decoration: none;
                }
                .home-link:hover {
                    text-decoration: underline;
                }
            

    .foot-cont {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 33% 33% 33%;
        padding-top: 12px;
        color: white;
        min-height: 200px;
        justify-content: center;
        background: linear-gradient(rgb(50, 50, 50), rgb(0, 0, 0))
    }
        .foot-cont h4 {
            text-decoration: underline;
            text-align: center;
        }
        .brand-cont {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
            .foot-logo {
                width: 25%;
            }
        .gameLinks-cont {
            display: flex;
            align-content: center;
            flex-direction: column;
            text-align: center;
        }
            .gameLinks-cont > a {
                color: white;
            }
        .contact-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .contact-cont > a {
                color: white;
            }
    .modal-cont {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
    }
        .log-modal, .reg-modal {
            display: none;
            flex-direction: column;
            position: absolute;
            left: 33%;
            top: 10%;
            background-image: url("Images/modal_bg.jpg");
            background-size: cover;
            background-position:center;
            width: 33%;
            height: 75%;
        }
            .close-btn {
                font-size: 36px;
                width: 5%;
                margin-right: 2.5%;
                align-self: flex-end;
                text-align: center;
                color: white;
            }
            .close-btn:hover {
                cursor: pointer;
                color: red;
            }
            .modal-head {
                display: flex;
                width: 66%;
                height: 25%;
                justify-content: center;
                align-self: center;
                align-items: center;
                font-size: 36px;
                letter-spacing: 4px;
                background-color: grey;
                box-shadow: 0px 0px 4px 2px grey;
            }
            .modal-content {
                display: grid;
                margin-bottom: auto;
                width: 66%;
                height: 50%;
                align-self: center;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: grey;
                box-shadow: 0px 0px 4px 2px grey;
            }
            .lg-ct {
                grid-template-rows: 25% 25% 5% 45%;
                grid-template-columns: 25% 75%;
            }
            .rg-ct {
                grid-template-rows: 14.25% 14.25% 14.25% 14.25% 14.25% 14.25% 14.25%;
                grid-template-columns: 50% 50%;
                height: 65%;
            }
                .log-submit, .reg-submit {
                    margin: auto;
                    width: 33%;
                    background-color: skyblue;
                    border: none;
                    outline: none;
                    border-radius: 36px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .reg-msg {
                    grid-row: 3 / 3;
                    grid-column: 1 / 3;
                    text-align: center;
                }
                    .reg-link {
                        text-decoration: underline;
                    }
                    .reg-link:hover {
                        cursor: pointer;
                        color: white;
                    }
                .log-submit {
                    grid-row: 4 / 4;
                    grid-column: 1 / 3;
                    height: 25%;
                }
                .reg-submit {
                    grid-row: 7 / 7;
                    grid-column: 1 / 3;
                    height: 33%;
                }
                .modal-label {
                    color: black;
                    text-align: center;
                }
                .modal-input {
                    width: 66%;
                    height: 25%;
                    border-radius: 24px;
                    border: none;
                    outline: none;
                    justify-self: center;
                }
                .reg-inp {
                    width: 90%;
                    justify-self: flex-start;
                }
                .modal-input:focus {
                    box-shadow: 0px 0px 4px 1px blue;
                }
                .log-submit:hover, .reg-submit:hover {
                    cursor: pointer;
                    background-color: lightblue;
                }

@keyframes logoSpin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@media only screen and (max-width: 1700px){
    .h-title {
        font-size: 36px;
    }
    .h-nav {
        display: none;
    }
}
