.primary-cont {
    border: thin solid black;
}

    .h-cont {
        display: flex;
        height: 25vh;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: rgb(75, 75, 75);
        box-shadow: 0px 0px 8px 2px black;
    }
        .h-nav {
            display: flex;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 10vw;
            padding: 12px;
        }
            .nav-item {
                width: 75%;
                margin: auto 12px auto auto;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                padding: 8px 12px;
                border-radius: 12px;
                background-color: rgb(50, 50, 50);
            }
            .nav-item:hover {
                cursor: pointer;
                background-color: rgb(60, 60, 60);
            }
        .h-title {
            font-family: "Audiowide", sans-serif;
            font-size: 98px;
            letter-spacing: 24px;
            padding: 12px;
            transition: font-size 100ms linear;
        }
        .h-logo {
            max-height: 25vh;
            margin: auto;
            animation: logoSpin 5s linear infinite;
        }
        .h-logo:hover {
            cursor: pointer;
        }

    .body-cont {
        display: flex;
        min-height: 55vh;
        border: thin solid black;
    }

        .feed-cont {
            flex: 0.80;
            background: linear-gradient(rgb(0,0,0), rgb(50, 50, 50));
        }
            .item-cont {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 33% 33% 33%;
                padding: 12px;
                color: white;
            }
                .item-num {
                    color: blue;
                    margin-left: 8px;
                }
                .item-name {
                    text-align: center;
                }
                .act-check {
                    justify-self: flex-end;
                    width: 25px;
                    height: 25px;
                }

        .sidebar-cont {
            border-right: thin solid black;
            flex: 0.20;
            background: linear-gradient(rgba(0,0,0,0.75), rgba(200,0,0,0.75))
        }
            .sidebar-head {
                height: 15%;
                width: 100%;
                color: white;
                text-align: center;
                border-bottom: thin solid black;
            }
            .sidebar-content {
                display: grid;
                font-size: 28px;
                height: 85%;
                width: 100%;
                margin-top: 5%;
                text-align: center;
                
            }
            .sidebar-link {
                color: grey;
                text-decoration: none;
            }
                .sidebar-link:hover {
                    cursor: pointer;
                    color: white;
                    transition: color 200ms ease-out;
                }
            
    .scale-cont {
        display: flex;
        height: 15vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
        .scale-box {
            width: 75%;
            height: 25%;
            border: thin solid black;
        }
            .scale-fill {
                height: 100%;
                /* width: 90%; */
                /* background-color: red; */
            }
        .scale-bar {
            position: absolute;
            left: 50%;
            top: 28.5%;
            width: 1%;
            height: 8%;
            background-color: black;
        }
    .foot-cont {
        display: flex;
        height: 200px;
        justify-content: center;
        background-color: rgb(35, 35, 35);
    }

@keyframes logoSpin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@media only screen and (max-width: 1700px){
    .h-title {
        font-size: 36px;
    }
    .h-nav {
        display: none;
    }
}
/* 
    .theme-btn {
        width: 10%;
        height: 10%;
        margin-top: 5%;
        border-radius: 24px;
        outline: none;
    }
    .theme-btn:hover {
        cursor: pointer;
    } */

